$typography__scale: 1.25;
$typography__default-base-size: 16px;
$typography__pixel-size-variation: 6.25;
$typography__font-base: "Open Sans", sans-serif;
$typography__font-heading: "Montserrat", serif;
