$typography__scale: 1.25;
$typography__default-base-size: 16px;
$typography__pixel-size-variation: 6.25;
$typography__font-base: "Open Sans", Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typography__font-heading: "Montserrat", Frutiger, Univers, Calibri, "Myriad Pro", Myriad, sans-serif;
$typography__font-mono: "Source Code Pro", Monaco, "Courier New", Courier, monospace;
