//
// Site header.
//

@import "./controls";
@import "./menu";

// Header and slide-down menu styles.
.header {
	--header-height: 3.75rem;

	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: var( --header-height );

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		z-index: 2;
		background-color: var( --color__line-secondary );

		.is-home & {
			display: none;
		}

		.is-contact & {
			content: none;
		}
	}

	.is-home & {
		position: absolute;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			right: -100%;
			bottom: 0;
			z-index: 25;
			background: rgba( #fff, 0.7 );
		}
	}

	.is-home[data-theme="dark"] &::before {
		background-color: rgba( #000, 0.55 );
	}

	@include media-query( $start: desktop ) {
		--header-height: 5rem;
	}
}

.header__menu-nav {
	text-align: right;
}

.header__brand {
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-basis: 50%;
	justify-content: center;
	height: 100%;
	z-index: 26;
}

.header__brand-wrapper {
	padding: 12px 0;
	position: relative;
	display: inline-block;
	height: inherit;
	max-height: 100%;
	width: 50%;
	z-index: 11;

	@include media-query( $start: desktop ) {
		padding: 20px 0;
	}
}
