<%/*
Main navigation.
*/%>

<nav class="main-nav" role="menu">
	<ul class="main-nav__ul" role="none" data-active-menu>
		<li class="main-nav__li" role="none">
			<a href="<%= templateData.site.core.siteUrl %>/projects/" class="main-nav__a" role="menuitem">
				Projects <span class="main-nav__link-count"><%= templateData.site.projectCount %></span>
			</a>
		</li>
		<li class="main-nav__li" role="none">
			<a href="<%= templateData.site.core.siteUrl %>/about/" class="main-nav__a" role="menuitem">About</a>
		</li>
		<li class="main-nav__li" role="none">
			<a href="<%= templateData.site.core.siteUrl %>/contact/" class="main-nav__a" role="menuitem">Contact</a>
		</li>
	</ul>
</nav>
