<header class="header">

	<div class="header__brand">
		<div class="header__brand-wrapper">
			<% if ( templateData.post.type === 'home' ) { %>
				<%- include( '../partials/svg-logo' ) %>
			<% } else { %>
				<a href="<%= templateData.site.core.siteUrl %>">
					<%- include( '../partials/svg-logo' ) %>
				</a>
			<% } %>
		</div>
	</div>

	<div id="header__menu" class="header__menu">
		<div class="header__menu-nav">

			<div id="header__controls" class="header__controls">
				<nav class="header__controls-wrapper">
					<ul class="header__controls-ul" role="none">
						<li class="header__controls-li" role="none">
							<button id="header__controls-menu-toggle" class="header__controls-menu-toggle" aria-controls="main-nav" aria-expanded="false">
								<span class="header__controls-menu-toggle-icon"></span>
							</button>
						</li>
					</ul>
				</nav>
			</div>

			<div class="header__menu-wrapper">
				<%- include( '../partials/nav-main' ) %>
			</div>
		</div>
	</div>
</header>
