//
// Toggle icon.
.icon__toggle {
	.icon__toggle-rect {
		fill: #555;
	}

	.icon__toggle-circle {
		fill: #f8bb00;
	}

	&.icon__toggle--on .icon__toggle-circle {
		transform: translate( 1.2em, 0 );
		fill: $color__primary-light;
	}
}
