<section class="hero-intro" aria-labelledby="hero-intro">

	<div class="loader">
		<span class="loader__circle-left"></span>
		<span class="loader__circle-right"></span>
	</div>

	<div class="hero-intro__wrapper" style="visibility: hidden">
		<span class="hero-intro__copy-bg">
			<img
				class="hero-intro__copy-bg-img"
				src="/assets/images/light-intro-text-bg-desktop.png?size=1200%26quality=100"
				data-srcset="/assets/images/light-intro-text-bg-desktop.png?size=480%26quality=100 480w,
					/assets/images/light-intro-text-bg-desktop.png?size=700%26quality=100 700w,
					/assets/images/light-intro-text-bg-desktop.png?size=900%26quality=100 900w,
					/assets/images/light-intro-text-bg-desktop.png?size=1200%26quality=100 1200w"
				alt="Background hero image">
			<img
				class="hero-intro__copy-bg-img--dark"
				src="/assets/images/light-intro-text-bg-desktop-dark.png?size=1200%26quality=100"
				data-srcset="/assets/images/light-intro-text-bg-desktop-dark.png?size=480%26quality=100 480w,
					/assets/images/light-intro-text-bg-desktop-dark.png?size=700%26quality=100 700w,
					/assets/images/light-intro-text-bg-desktop-dark.png?size=900%26quality=100 900w,
					/assets/images/light-intro-text-bg-desktop-dark.png?size=1200%26quality=100 1200w"
				alt="Dark background hero image">
		</span>
		<div class="hero-intro__copy">
			<h1 id="hero-intro" class="hero-intro__title">
				<span class="hero-intro__line">
					My name is
					<span class="hero-intro__no-break"><span class="hero-intro__name">Chad Ort</span></span>
				</span>
				<span class="hero-intro__line">
					I'm a short-stack developer that has worked in the
					<span class="hero-intro__no-break"><a href="<%= templateData.site.core.siteUrl %>/about/companies/ncsoft/" class="hero-intro__industry">gaming</a>,</span>
					<span class="hero-intro__no-break"><a href="<%= templateData.site.core.siteUrl %>/about/companies/proper-media/" class="hero-intro__industry">advertising</a>,</span>
					and <a href="<%= templateData.site.core.siteUrl %>/about/companies/snopes/" class="hero-intro__industry">media</a> industry.
				</span>
			</h1>
		</div>
	</div>
</section>
