//
// Home page hero element.
//

.hero-intro {
	position: relative;
	overflow: hidden;
	background-color: #fff;

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 1;
		transition: opacity 500ms ease-in-out;
	}

	&.active .loader {
		opacity: 0;
	}
}

.hero-intro,
.hero-intro__wrapper {
	height: 100vh;

	@include media-query( $start: desktop ) {
		height: calc( 100vh - #{ $utility-bar-height } );
	}
}

[data-theme="dark"] .hero-intro {
	background-color: #222;
}

@keyframes canvasFade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.intro-grid {
	position: absolute;
	top: 0;
	animation-duration: 500ms;
	animation-name: canvasFade;
	animation-fill-mode: forwards;
	//animation-delay: 300ms;
}

@keyframes textFade {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	1% {
		visibility: visible;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}

.hero-intro__wrapper {
	@extend %site-frame-wrapper;
	position: relative;
	z-index: 9;

	.hero-intro.active & {
		animation-duration: 1000ms;
		animation-name: textFade;
		animation-fill-mode: forwards;
		animation-delay: 1250ms;
	}
}



.hero-intro__no-break {
	white-space: nowrap;
}

.hero-intro__title {
	margin: 2rem 0 0;
	position: relative;
	color: black;
	font-family: $typography__font-heading;
	font-size: modular-rem-scale( 2 );
	font-weight: 400;
	line-height: 1.5;
	text-align: center;

	[data-theme="dark"] & {
		color: #fff;
	}

	@include media-query( $start: tablet ) {
		margin-top: 1rem;
		font-size: modular-rem-scale( 2.5 );
		line-height: 1.45;
	}

	@include media-query( $start: desktop ) {
		line-height: 1.4;

		[data-theme="dark"] &::after {
			left: -7%;
			width: 70%;
		}
	}
}

.hero-intro__line {
	margin-bottom: 0.5rem;
	display: block;

	&:first-child {
		margin-bottom: 1rem;
		color: var( --color__primary );
		font-family: Edo, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
		font-size: 1.05em;
		//font-size: modular-rem-scale( 2 );
		font-weight: 400;
		transform: rotate( -3deg );


		@include media-query( $start: mobile-lg ) {
			font-size: 1.1em;
			//font-size: modular-rem-scale( 2.85 );
		}

		@include media-query( $start: tablet ) {
			font-size: 1.15em;
			//font-size: 1.5em;
			//font-size: modular-rem-scale( 2.85 );
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.hero-intro__name {
	margin-top: -0.15em;
	margin-left: .05em;
	display: block;
	position: relative;
	color: var( --color__secondary );
	font-size: 2.25em;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -1.5px;
	text-transform: uppercase;

	&::after {
		// content: "";
		position: absolute;
		bottom: -3px;
		left: 0;
		height: 11px;
		width: 100%;
		border-style: solid;
		border-width: 5px;
		border-color: var( --color__secondary ) transparent transparent transparent;
		border-radius: 50%;
	}

	@include media-query( $start: mobile-lg ) {
		//font-size: 1.45em;
		//font-size: modular-rem-scale( 4.65 );
	}
}

.hero-intro__industry {
	position: relative;
	color: var( --color__secondary-text );
	//font-size: 1.2em;
	font-weight: 500;

	&:hover {

		color: black;

		[data-theme="dark"] & {
			color: #fff;
		}
	}
}

.xxxhero-intro__link {
	color: #333;
	font-size: 1.15em;
	font-weight: 400;


	[data-theme="dark"] & {
		color: #fff;
	}

	&:hover {
		color: var( --color__secondary-text );
	}
}




.hero-intro__cta {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	text-align: center;
}

.hero-intro__cta-a {
	@extend %btn--outline-secondary-large;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	color: $color__white-d;
	border-color: $color__white-d;

	&:hover {
		background-color: $color-dark-bg__secondary;
		border-color: $color-dark-bg__secondary;
	}
}

.hero-intro__copy-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.95;
	z-index: 1;

	@include media-query( $start: 1200px ) {
		width: 80%;
		left: 10%;
	}

	@include media-query( $start: 1300px ) {
		width: 75%;
		left: 12.5%;
	}

	@include media-query( $start: 1450px ) {
		width: 75%;
		left: 12.5%;
	}
}

.hero-intro__copy-bg-img,
.hero-intro__copy-bg-img--dark {
	display: block;
	width: 100%;
	height: auto;
}

.hero-intro__copy-bg-img--dark {
	display: none;
}

[data-theme="dark"] .hero-intro__copy-bg-img {
	display: none;
}

[data-theme="dark"] .hero-intro__copy-bg-img--dark {
	display: block;
}

.hero-intro__copy {
	margin: 0 auto;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 3;
	color: $color__white-f;

	@include media-query( $start: tablet ) {
		width: 90%;
	}

	@include media-query( $start: desktop ) {
		width: 65%;
	}
}
