//
// General page element styles.
//

*,
*::before,
*::after { box-sizing: border-box }

html,
body {
	overflow-x: hidden;
}

body {
	margin: 0;
	background-color: var( --color__bg-primary );

	[data-theme="dark"] &.is-home {
		background-color: #222;
	}
}

body {

	.body-blackout {
		position: fixed;
		top: 31px;
		right: 0;
		bottom: 0;
		left: 0;
		background: #{ $color__white-f };
		z-index: 27;
		opacity: 0;
		pointer-events: none;
		transition: opacity 250ms;

		@media ( prefers-reduced-motion: reduce ) { transition-duration: 0ms }
	}

	&.blackout {
		height: 100vh;
		overflow: hidden;

		.body-blackout {
			pointer-events: initial;
			opacity: .85;
		}
	}
}

p { color: var( --color__text-body ) }

a {
	color: var( --color__secondary-text );
	text-decoration: none;
	transition: color 200ms, background-color 200ms, border-color 200ms;

	&:hover {
		color: var( --color__secondary-text-dark );
	}

	@media ( prefers-reduced-motion: reduce ) { transition-duration: 0ms }
}

.img-wrapper {
	position: relative;
	text-align: left;
}
