//
// Global typographic styles.
//

body,
button {
	color: var( --color__text-body );
	font-family: $typography__font-base;
	font-size: var( --font__scale-0 );
	font-weight: 300;
	line-height: 1.55;
	text-rendering: geometricPrecision;
}

h1 {
	@extend %typography-heading-1;
}

h2 {
	@extend %typography-heading-3;
}

h3 {
	@extend %typography-heading-4;
}

h4 {
	@extend %typography-heading-5;
}

h5 {
	@extend %typography-heading-6;
}

h6 {
	@extend %typography-heading-6;
}

small {
	@extend %small-text;
}
