.additional-work__item {
	margin-bottom: 25px;
	padding-bottom: 25px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: -10px;
		right: -10px;
		height: 1px;
		background-color: var( --color__line-tertiary );
	}

	&:last-child::after {
		visibility: hidden;
	}
}

.additional-work__image-thumb {
	@extend %img__x;
}

.additional-work__copy-wrapper {
	margin: 10px 5px 0;
}

.additional-work__heading {
	@extend %typography-heading-5;
	margin: 0;
}

.additional-work__heading-anchor {
	color: var( --color__text-title-primary );

	&:hover {
		color: var( --color__secondary-text );
	}
}

.additional-work__summary {
	margin: 0;
	font-size: var( --font__small );
	line-height: 1.4;
}

.additional-work__cta {
	@extend %btn--outline-secondary-small;
	margin: 15px 0 0;
}
