.main-nav {
	position: relative;
	display: inline-block;
	height: inherit;
	min-height: 0;
	max-height: 100%;
	font-family: $typography__font-heading;
	font-weight: 500;
	text-align: right;
	background: none;

	.header__menu--active & {
		margin-top: 2rem;
		width: 100%;
	}
}

.main-nav__ul {
	margin: 0;
	padding-left: 0;
	height: inherit;
	min-width: 150px;
	max-height: 100%;
	opacity: 1;
	list-style-type: none;

	.header__menu--active & {
		margin: 0 1.5rem;
	}
}

.main-nav__li {
	margin: 0;
	padding: 0 20px 0 6px;
	display: inline-flex;
	align-items: center;
	position: relative;
	height: inherit;
	max-height: 100%;
	text-align: left;
	border: 0;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	.header__menu--active & {
		padding: 0.75rem 1.2rem;
		display: block;
		border-bottom: 1px solid rgba( #fff, 0.2 );
	}
}

.main-nav__a {
	position: relative;
	vertical-align: middle;
	color: var( --color__text-title-primary );
	font-size: var( --font__scale-0 );
	font-weight: 500;
	text-decoration: none;

	&::after {
		content: "/";
		position: absolute;
		top: calc( ( 50% - 17px ) + 1px );
		right: -19px;
		color: var( --color__primary-text );
		font-family: $typography__font-heading;
		font-weight: 300;
		font-size: 2rem;
		line-height: 1em;

		.header__menu--active & {
			display: none;
		}
	}

	.main-nav__li:last-child &::after {
		display: none;
	}

	&:focus {
		color: var( --color__secondary-text-dark );
	}

	&:focus-visible {
		outline: none;
	}

	&:hover,
	&:active {
		color: var( --color__secondary-text );
	}

	.header__menu--active & {
		display: block;
		color: #fff;
		font-weight: 600;

		&:hover {
			color: #222;
		}
	}

	.main-nav__li.active & {
		color: var( --color__secondary-text );
	}
}

.main-nav__link-count {
	margin-left: 5px;
	padding: 2px 5px;
	position: relative;
	top: -1px;
	color: #fff;
	font-family: $typography__font-base;
	font-size: var( --font__xxsmall );
	font-weight: 600;
	background: var( --color__secondary );
	border-radius: 6px;
}
