//
// Project archive page styles.
//

// Provides the border animation for project itmes on hover.
%border-animation {
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border: 2px solid transparent;
	}

	&::before {
		top: 0;
		left: 0;
	}

	&::after {
		bottom: 0;
		right: 0;
	}

	&:hover::before,
	&:hover::after {
		width: 100%;
		height: 100%;
	}

	&:hover::before {
		border-top-color: var( --color__primary );
		border-right-color: var( --color__primary );
		transition: width 250ms ease-out, height 250ms ease-out 250ms;

		@media ( prefers-reduced-motion: reduce ) {
			transition-duration: 0ms;
		}
	}

	&:hover::after {
		border-bottom-color: var( --color__primary );
		border-left-color: var( --color__primary );
		transition: border-color 0ms ease-out 500ms, width 250ms ease-out 500ms, height 250ms ease-out 750ms;

		@media ( prefers-reduced-motion: reduce ) {
			transition-duration: 0ms;
		}
	}
}

.project-grid {
	--project-grid__background-color: transparent;
	--project-grid__border-color: #{ $color__white-d };

	body[data-theme="dark"] & {
		--project-grid__background-color: #{ $color__black-3 };
		--project-grid__border-color: transparent;
	}

	margin: 0 auto;

	@include media-query( $start: tablet ) {
		display: grid;
		grid-template-columns: repeat( 2, 1fr );
		grid-auto-rows: min-content;
		grid-gap: 1.5rem;
		grid-row-gap: 1.5rem;
	}

	@include media-query( $start: desktop ) {
		grid-template-columns: repeat( 3, 1fr );
	}
}

.project-grid__item {
	margin: 0 calc( 50% - 50vw ) 35px calc( 50% - 50vw );
	position: relative;
	background-color: var( --project-grid__background-color );

	.project-grid__item-thumb {
		@extend %img__x;
	}

	// @todo - Tempoarily stretching the first image which expands 2 cells.
	&:first-child .project-grid__item-thumb {
		max-width: none;
		width: 100%;
	}

	@include media-query( $start: tablet ) {
		margin: 0 auto;
	}

	@include media-query( $start: desktop ) {
		&:first-child {
			grid-column: 3 / 1;
		}
	}
}

.project-grid__item-wrapper {
	@extend %border-animation;
	height: 100%;

	&::before,
	&::after {
		display: none;
	}

	@include media-query( $start: tablet ) {
		padding: 15px;
		display: block;
		position: relative;
		z-index: 1;
		text-decoration: none;
		transition: color 250ms;

		@media ( prefers-reduced-motion: reduce ) {
			transition-duration: 0ms;
		}

		&::before,
		&::after {
			display: block;
			z-index: -1;
		}
	}
}

.project-grid__item-img-wrapper {
	@extend %img__treatment-primary;
	max-height: 200px;
	display: block;
	position: relative;
	overflow: hidden;
}

.project-grid__copy-wrapper {
	padding: 3px 20px 0;

	@include media-query( $start: tablet ) {
		padding: 0 3px;
	}
}

.project-grid__item:hover .project-grid__item-img-wrapper::before {
	box-shadow: inset 0 0 50px 30px rgba( $color__black-0, 0.1 );
}

.project-grid__item-sub-title {
	@extend %typography-heading-6--cap;
	font-weight: 600;
	margin: 10px 0 -8px 0;
}

.project-grid__item-title {
	@extend %typography-heading-5;
	font-size: var( --font__size-xlarge );
	line-height: 1.2;
	margin: 10px 0 7px 0;
	transition: color 100ms;

	@media ( prefers-reduced-motion: reduce ) {
		transition-duration: 0ms;
	}
}

.project-grid__item-title-link {
	color: var( --color__text-title-primary );
	text-decoration: none;
	transition: color 150ms;

	@media ( prefers-reduced-motion: reduce ) {
		transition-duration: 0ms;
	}

	&:hover {
		color: var( --color__secondary-text );
	}
}

.project-grid__item-summary {
	margin-top: 5px;
	margin-right: 10px;
	color: var( --color__text-summary );
	font-size: var( --font__small );
	line-height: 1.5;
}

.project-grid__item-cta {
	@extend %btn--outline-secondary-small;
	margin: 5px 0;
}
