<%- include( '../../helpers/img-utils' ) -%>

<div class="contact-hero">
	<div
		class="contact-hero__wrapper"
		style="background-image: url( <%= getSrc( 'assets/images/contact-hero.jpg', false ) %> )"
	>
		<div class="contact-hero__heading-wrapper">
			<h2 class="contact-hero__heading">
				<span class="contact-hero__heading-subtitle">Say</span>
				<span class="contact-hero__heading-title">Hello</span>
			</h2>
		</div>
		<span class="contact-hero__overlay-left"></span>
		<span class="contact-hero__overlay-right"></span>
	</div>
</div>
