/// Block view for an internal site link.
///
/// @param {string} $el_prefix The placement specific class to use as the selector prefix.
/// @content Allows for scoped CSS variables to be defined.
/// @return Style block
@mixin internal-link( $el_prefix ) {
	@content;

	.#{ $el_prefix }ul {
		padding-left: 0;
		list-style-type: none;
	}

	.#{ $el_prefix }li {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		position: relative;

		&::after {
			content: "";
			height: 1px;
			position: absolute;
			left: -0.75rem;
			right: -0.5rem;
			bottom: 0;
			background-color: var( --color__line-tertiary );
		}

		&:last-child::after {
			display: none;
		}
	}

	.#{ $el_prefix }img-wrapper {
		@extend %img__treatment-primary;
	}

	.#{ $el_prefix }img {
		@extend %img__x;
	}

	.#{ $el_prefix }details {
		margin: 0 0.4rem;
	}

	.#{ $el_prefix }title {
		margin: 0.5em 0 0.3em;
		font-size: var( --font__large );
		font-weight: 400;
	}

	.#{ $el_prefix }title-a {
		color: var( --color__primary-title );

		&:hover {
			color: var( --color__secondary-text-dark );
		}
	}

	.#{ $el_prefix }summary {
		margin: 0;
		color: var( --color__text-summary );
		font-size: var( --font__size-small );
		line-height: 1.45;
	}

	.#{ $el_prefix }cta {
		@extend %btn--outline-primary-small;
		margin-top: 1rem;
	}
}
